.domain-tile-v1__art {
  background-size: 361.45% auto !important;
}

.domain-tile-v1:nth-child(1) .domain-tile-v1__art { background-position: .92% 8.59% !important; }
.domain-tile-v1:nth-child(2) .domain-tile-v1__art { background-position: 47% 8.59% !important; }
.domain-tile-v1:nth-child(3) .domain-tile-v1__art { background-position: 93.09% 8.59% !important; }
.domain-tile-v1:nth-child(4) .domain-tile-v1__art { background-position: .92% 68.96% !important; }
.domain-tile-v1:nth-child(5) .domain-tile-v1__art { background-position: 47% 68.96% !important; }
.domain-tile-v1:nth-child(6) .domain-tile-v1__art { background-position: 93.09% 68.96% !important; }
